@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #181818;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 0;
}

footer {
    color: darkgrey;
    font-size: 14px;
    text-align: center;
    bottom: 0;
} 

h4 {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
}

button {
    padding: 10px;
    background-color: #32a852;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #fff;
    color: #181818;
}

.profile-container {
    width: 700px;
    border-radius: 20px;
    background-color: #262626;
    padding: 80px;
    margin: auto;
}

.profile-info-img-name {
    display: flex;
    align-items: center;
}

.profile-info {
    margin-left: 25px;
}

.profile-content-info {
    width: 100%;
    height: 50%;
    color: #fff;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-content-stats {
    margin-top: 50px;
    color: #fff;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.profile-content-stats a {
    cursor: default;
}

.profile-data {
    border-radius: 10px;
    max-height: 150px;
    width: 200px;
    display: inline-block;
    text-align: left;
    padding: 20px;
    transition: 0.2s ease-in-out;
}

.profile-data:hover {
    opacity: 0.5;
}

.repositories {
    background-color: #32a852;
    float: left;
}

.stars {
    background-color: #2082c9;
    margin-left: 10px;
    margin-right: 10px;
}

.followers {
    background-color: #f0bb36;
    float: right;
}

.profile-image img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

@media (max-width: 960px) {
    .profile-container {
        width: 600px;
    }
    .profile-content-stats {
        flex-direction: column;
        align-items: center;
        align-content: space-around;
    }

    .profile-data {
        margin-top: 10px;
        width: 100%;
    }
}

@media (max-width: 905px) {
    .profile-image img{
        width: 200px;
        height: 200px;
    }

    .profile-info {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px;
        padding: 15px;
    }

    .profile-content-info {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 775px) {
    .profile-container {
        width: 400px;
    }
}